:root {
  --primary: #a9cf38 !important
}

.primary-color {
  color: var(--primary);
}

.single-art {
  margin-bottom: 20px;
}


.single-art .title-bg {
  font-size: 80px;
  color: rgba(255, 255, 255, 0.14);
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  position: relative;
  margin-bottom: 5px;
  line-height: 1.5em;
}

.single-art .title-bg h3 {
  font-size: 28px;
  position: absolute;
  left: 5%;
  bottom: 3px;
  font-weight: 400;

}

.suspension-data {
  font-size: 1.1rem;
  color: #b0b0b0;
  font-weight: 400;
}

.suspension-data span {
  color: var(--primary);
  font-weight: bold;
}

.speed-text {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;

}

.speed-data {
  font-size: 4.5rem;
  color: var(--primary);
  font-family: 'Oswald', sans-serif;
  line-height: 5rem;
  margin-bottom: 3rem;
}

.footer-interior {
  padding-top: 136px;
  padding-bottom: 15px;
  background-size: cover;
  background-position: 50%;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  line-height: 1.875;
}

.footer-interior__column {
  margin-bottom: 40px
}

.footer-interior__group-title {
  font-size: 37px;
  font-weight: 600;
  margin-bottom: 17px;
  font-family: 'Oswald', sans-serif;
}

.footer-interior__list {
  color: #999;
  list-style: none
}

.footer-interior p {
  color: #fff;
  margin-bottom: 0;
  font-size: 14px;
  text-align: justify;
}

.footer-interior p a {
  color: currentColor;

  text-decoration: none;
  transition: .3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: 0 0;
  border: none;
  cursor: pointer
}

.footer-interior p a:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity .3s;
  opacity: 0
}

.footer-interior p a:hover {
  color: #f24a00
}

.footer-interior p a:hover:after {
  opacity: 1
}

.footer-interior p a_active {
  color: #f24a00
}

.footer-interior p a_active:after {
  opacity: 1
}

.footer-interior p a_inverted:after {
  opacity: 1
}

.footer-interior p a_inverted:hover:after {
  opacity: 0
}

.footer-interior p a:hover {
  color: #fff
}

.footer-interior__list-item {
  margin-bottom: 0
}

.footer-interior__list-link {
  color: currentColor;

  text-decoration: none;
  transition: .3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: 0 0;
  border: none;
  cursor: pointer
}

.footer-interior__list-link:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity .3s;
  opacity: 0
}

.footer-interior__list-link:hover {
  color: #f24a00
}

.footer-interior__list-link:hover:after {
  opacity: 1
}

.footer-interior__list-link_active {
  color: #f24a00
}

.footer-interior__list-link_active:after {
  opacity: 1
}

.footer-interior__list-link_inverted:after {
  opacity: 1
}

.footer-interior__list-link_inverted:hover:after {
  opacity: 0
}

.footer-interior__list-link:hover {
  color: #fff
}

.footer-interior__socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.footer-interior__social {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: currentColor;
  border-radius: 100%;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 15px;
  transition: all .3s;
  background: #fff;
  width: 40px;
  height: 40px;
  color: #4c4c4c;
}

.footer-interior__social:not(:last-child) {
  margin-right: 17px
}

.footer-interior__social:hover {
  color: #a9cf38;
}

.footer-interior__social.icofont-behance,
.footer-interior__social.icofont-google-plus {
  font-size: 26px
}

.footer-interior__social.icofont-linkedin {
  font-size: 22px
}

.footer-interior__form {
  width: 100%;
  position: relative;
  margin-top: 16px
}

.footer-interior__input {
  font-size: 16px;
  height: 54px;
  width: 100%;
  color: #000;
  padding: 2px 120px 0 20px;
  border-radius: 36px;
}

.footer-interior__input::-webkit-input-placeholder {
  color: #999 !important;
  opacity: 1;
  transition: .3s ease;
}

.footer-interior__input:-moz-placeholder {
  color: #999 !important;
  opacity: 1;
  transition: .3s ease;
}

.footer-interior__input::-moz-placeholder {
  color: #999 !important;
  opacity: 1;
  transition: .3s ease;
}

.footer-interior__input:-ms-input-placeholder {
  color: #999 !important;
  opacity: 1;
  transition: .3s ease;
}

.footer-interior__input.placeholder {
  color: #999 !important;
  opacity: 1;
  transition: .3s ease;
}

.footer-interior__input:focus::-webkit-input-placeholder {
  color: #999 !important;
  opacity: 0
}

.footer-interior__input:focus:-moz-placeholder {
  color: #999 !important;
  opacity: 0
}

.footer-interior__input:focus::-moz-placeholder {
  color: #999 !important;
  opacity: 0
}

.footer-interior__input:focus:-ms-input-placeholder {
  color: #999 !important;
  opacity: 0
}

.footer-interior__input:focus.placeholder {
  color: #999 !important;
  opacity: 0
}

.footer-interior__submit {
  height: 100%;
  padding-top: 2px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0px;
  white-space: nowrap;
  border: 0;
  background: 0 0;
  transition: all .3s;
  background: #1e1e1e;
  padding: 2px 15px;
  font-size: 25px;
  font-weight: lighter;
  border-radius: 50%;
  color: #fff;
  border: 1px solid;
}

.footer-interior__submit:hover {
  color: #f24a00
}

.footer-interior__submit-icon {
  font-weight: 700;
  font-size: 12px;
  margin-left: 1px;
  transform: translateY(-1px);
  display: inline-block
}

.footer-interior__bottom {
  margin-top: 0px;
  color: #999
}

.footer-interior__bottom strong {
  color: #fff;
  font-weight: 600
}

.footer-interior__copyright a {
  color: currentColor;
  text-decoration: none;
  transition: .3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: 0 0;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600
}

.footer-interior__copyright a:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity .3s;
  opacity: 0
}

.footer-interior__copyright a:hover {
  color: var(--primary);
}

.footer-interior__copyright a:hover:after {
  opacity: 1
}

.footer-interior__copyright a_active {
  color: #f24a00
}

.footer-interior__copyright a_active:after {
  opacity: 1
}

.footer-interior__copyright a_inverted:after {
  opacity: 1
}

.footer-interior__copyright a_inverted:hover:after {
  opacity: 0
}

.footer-minimal {
  padding-top: 126px;
  padding-bottom: 78px;
  background-color: #f24a00;
  color: #fff;
  font-size: 14px;
  line-height: 1.571428571428571
}

.footer-minimal__logo {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px
}

.footer-minimal__column {
  margin-bottom: 40px
}

.footer-minimal__group-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 44px;
  text-transform: uppercase
}

.footer-minimal__list {
  list-style: none
}

.footer-minimal p {
  margin-bottom: 10px
}

.footer-minimal p a {
  color: currentColor;

  text-decoration: none;
  transition: .3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: 0 0;
  border: none;
  cursor: pointer
}

.footer-minimal p a:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity .3s;
  opacity: 0
}

.footer-minimal p a:hover {
  color: #f24a00
}

.footer-minimal p a:hover:after {
  opacity: 1
}

.footer-minimal p a_active {
  color: #f24a00
}

.footer-minimal p a_active:after {
  opacity: 1
}

.footer-minimal p a_inverted:after {
  opacity: 1
}

.footer-minimal p a_inverted:hover:after {
  opacity: 0
}

.footer-minimal p a:hover {
  color: #fff
}

.footer-minimal__list-item {
  margin-bottom: 2px
}

.footer-minimal__list-link {
  color: currentColor;

  text-decoration: none;
  transition: .3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: 0 0;
  border: none;
  cursor: pointer
}

.footer-minimal__list-link:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity .3s;
  opacity: 0
}

.footer-minimal__list-link:hover {
  color: #f24a00
}

.footer-minimal__list-link:hover:after {
  opacity: 1
}

.footer-minimal__list-link_active {
  color: #f24a00
}

.footer-minimal__list-link_active:after {
  opacity: 1
}

.footer-minimal__list-link_inverted:after {
  opacity: 1
}

.footer-minimal__list-link_inverted:hover:after {
  opacity: 0
}

.footer-minimal__list-link:hover {
  color: #fff
}

.footer-minimal__socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.footer-minimal__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: currentColor;
  border-radius: 100%;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 15px;
  transition: all .3s
}

.footer-interior__socials .fa {

  font-family: FontAwesome;
}

.section-header h2 {
  position: relative;
  display: inline-block;
  background: #fff;
  padding: 0px 60px;
  color: #151418;
  font-size: 42px;
  transform: skew(-4deg, 0deg);
  font-family: 'Oswald', sans-serif;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1803921568627451);
}




.sec-title:before {
  position: absolute;
  content: '';
  width: 178px;
  height: calc(100% + 25px);
  background: #a8ce37;
  left: -36px;
  top: -25px;
  z-index: -2;
  transform: skew(-4deg, 0deg);
}


.section-header h2:after {
  position: absolute;
  content: '';
}

.sec-title {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 6rem;
}

.sec-title:before {
  position: absolute;
  content: '';
}

.sec-subtitle {
  position: absolute;
  background: linear-gradient(45deg, #006c37, #a8ce37);
  color: #fff;
  font-size: 22px;
  padding: 3px 12px;
  font-weight: 300;
  height: calc(100% + 19px);
  top: 15px;
  z-index: -2;
  width: calc(100% + 42px);
  left: -20px;
  line-height: 129px;
  box-shadow: 1px 13px 17px 4px rgba(0, 0, 0, 0.49);
  text-transform: uppercase;
  transform: skew(-4deg, 0deg);
  font-family: 'Oswald', sans-serif;
}

.wheel-art {
  margin-bottom: 20px;
}


.dimention-sec {
  width: 7rem;
  margin-bottom: 32px !important;
}


.submit-btn {
  background: linear-gradient(45deg, #006c37, #a8ce37);
  border-color: #c5e4c7;
  border-radius: 30px;
  padding: 8px 20px;
  text-transform: capitalize;
  width: 180px;
  margin-top: 18px;
}


.submit-btn:hover {
  background: linear-gradient(45deg, #a8ce37, #006c37);
  border-color: #c5e4c7;
}


.wheel-icon {
  width: 54px;
  height: 54px;
  background: linear-gradient(45deg, #a8ce37, #006c37);
  font-size: 30px;
  color: #fff;
  margin-right: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.45098039215686275);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.45098039215686275);
}

.wheel-wrap {
  margin-bottom: 20px;
}

.wheel-wrap h4 {
  font-weight: 300;
}

.wheel-content {
  color: var(--primary);
}

.eco-sec-wrap {
  padding: 0px !important;
}

.eco-sec {
  position: relative;
  padding-top: 200px;
  z-index: 1;
}

.eco-sec:before {
  position: absolute;
  content: '';
  width: 40%;
  height: 100%;
  background: #a8ce37;
  top: 0;
  left: 30%;
  z-index: -1;
}

.eco-left-sec {
  background: #151418;
  padding: 60px;
  z-index: 1;
}

.eco-right-sec {
  padding-top: 200px;
}

.eco-right-sec h3 {
  position: relative;
  margin-top: 35px;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #ffffff;
}

.eco-right-sec h2 {
    margin: 7px 0px 24px;
  font-size: 42px;
  line-height: 56px;
  font-family: 'Oswald', sans-serif;
  color: #a8ce37;
  position: relative;
  z-index: 1;
}

.eco-right-sec p {
  font-size: 20px;
  line-height: 28px;
}

.eco-right-sec .img-wrap {
  margin: auto;
  margin-bottom: 20px;
  background: linear-gradient(45deg, #006c37, #a8ce37);
  padding: 10px;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  text-align: center;
}

/*

.eco-right-sec h3:before {
  position: absolute;
  content: '';
  width: 86px;
  height: 7px;
  background: #a8ce37;
  left: -73px;
  top: 19px;
  z-index: 2;
}
*/

.eco-right-sec .img-wrap img {
  width: 100px;
}

.hero-cont {
  font-family: 'Oswald', sans-serif;
}

.hero-cont span {
  margin-bottom: 12px;
}


.owl-nav button {
  min-width: auto;
  height: 48px;
  width: 48px;
  border: 2px solid #cccccc !important;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: var(--dark-gray);
  font-size: 20px !important;
  outline: none !important;
  line-height: 48px;
}

.owl-nav button.owl-next {
  margin-left: 10px;
}

.owl-nav button:hover {
  color: var(--main-color);
  border-color: var(--main-color) !important;
}

.variation-slider .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.variation-slider .owl-nav button.owl-prev,
.variation-slider .owl-nav button.owl-next {
  position: absolute;
  left: -100px;
  transform: translateY(-50%);
}

.variation-slider .owl-nav button.owl-next {
  left: auto;
  right: -100px;
}

.variation-slider .owl-dots {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.variation-slider .owl-dots .owl-dot {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background: var(--main-color);
  margin: 0px 8px;
}

.variation-slider .owl-dots .owl-dot:before,
.variation-slider .owl-dots .owl-dot.active:before {
  display: none;
}

.variation-slider .owl-dots .owl-dot.active {
  left: auto !important;
  animation: ripple 1s linear infinite;
}

.variation-slider .owl-dots .owl-dot.blue {
  background: #0178e6;
}

.variation-slider .owl-dots .owl-dot.red {
  background: #d10300;
}

.variation-slider .owl-dots .owl-dot.gray {
  background: #5f5f5f;
}

.owl-dots .owl-dot span {
  width: 1.5rem;
  height: 1.5rem;
}

.owl-dots .owl-dot span {
  background: green;
}

.owl-dots .owl-dot.blue {
  background: #0178e6;
}

.owl-dots .owl-dot.red {
  background: #d10300;
}

.owl-dots .owl-dot.gray {
  background: #5f5f5f;
}

.d-lg-flex {
  display: flex !important;
}


@media only screen and (min-width:320px) and (max-width:480px) {

  .variation-slider .owl-nav button.owl-prev,
  .variation-slider .owl-nav button.owl-next {
    left: 0px;
  }

  .variation-slider .owl-nav button.owl-next {
    left: auto;
    right: 0px;
  }

  .single-art .title-bg {
    font-size: 50px;
  }

  .sec-subtitle {
    padding: 3px 12px;
    height: calc(100% + 10px);
    line-height: 58px;
    font-size: 16px;

  }

  .section-header h2 {
    padding: 0px 30px;
    font-size: 21px;
  }

  .sec-title:before {
    width: 80px;
    height: calc(100% + 25px);
    top: -25px;
    left: 0;
  }

  .display-4 {
    font-size: 2rem !important;
  }

  .sec-title {
    margin-bottom: 2rem;
  }

  .mb-sm-2 {
    margin-bottom: 2rem !important;
  }

  .wn__section .wn__title {
    min-height: auto;
    margin-bottom: 0.2rem;
    font-size: 18px;
  }

  .single-art .title-bg h3 {
    font-size: 21px;
    bottom: -4px;
  }

  .eco-sec {
    padding-top: 50px;
  }

  .eco-left-sec {
    padding: 10px;
  }

  .eco-right-sec {
    padding-top: 0;
  }

  .eco-right-sec h2 {
    margin: 20px 0px 20px;
    font-size: 28px;
    line-height: 38px;
  }

  .speed-text {
    line-height: 3rem;
    font-size: 2rem;
  }

  .speed-data {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 3rem;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.34);
  }

  .footer-interior__column {
    margin-bottom: 0;
  }

  .footer-interior__socials {
    margin-top: 12px;
    justify-content: center;
  }

  .content-section {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .pr-8 {
    padding-right: 0px !important;
  }

  .lead-1,
  p {
    font-size: 17px !important;
  }

  .suspension-data,
  .eco-right-sec p {
    font-size: 17px;
  }

  .footer {
    padding: 0.75rem 0;
    border-top: 1px solid;
  }

  .submit-btn {
    font-size: 17px;
  }

  .wn__icon h4 {
    font-size: 22px;
  }

  .header .header-hero .device-hero {
    max-width: 45rem;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }

  .header .header-hero {

    height: 42.625rem;
    align-items: flex-start !important;
  }

  .logo-light {
    height: 50px;
    max-height: 50px;
  }

  .banner-sec {
    align-items: flex-start !important;
  }

  .header {
    margin-top: 92px;
  }

}

@media only screen and (min-width:482px) and (max-width:767px) {

  .variation-slider .owl-nav button.owl-prev,
  .variation-slider .owl-nav button.owl-next {
    left: 0px;
  }

  .variation-slider .owl-nav button.owl-next {
    left: auto;
    right: 0px;
  }

  .single-art .title-bg {
    font-size: 50px;
  }

  .sec-subtitle {
    padding: 3px 12px;
    height: calc(100% + 10px);
    line-height: 58px;
    font-size: 16px;

  }

  .section-header h2 {
    padding: 0px 30px;
    font-size: 21px;
  }

  .sec-title:before {
    width: 80px;
    height: calc(100% + 25px);
    top: -25px;
    left: 0;
  }

  .display-4 {
    font-size: 2rem !important;
  }

  .sec-title {
    margin-bottom: 2rem;
  }

  .mb-sm-2 {
    margin-bottom: 2rem !important;
  }

  .wn__section .wn__title {
    min-height: auto;
    margin-bottom: 0.2rem;
    font-size: 18px;
  }

  .single-art .title-bg h3 {
    font-size: 21px;
    bottom: -4px;
  }

  .eco-sec {
    padding-top: 50px;
  }

  .eco-left-sec {
    padding: 10px;
  }

  .eco-right-sec {
    padding-top: 0;
  }

  .eco-right-sec h2 {
    margin: 20px 0px 20px;
    font-size: 28px;
    line-height: 38px;
  }

  .speed-text {
    line-height: 3rem;
    font-size: 2rem;
  }

  .speed-data {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 3rem;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.34);
  }

  .footer-interior__column {
    margin-bottom: 0;
  }

  .footer-interior__socials {
    margin-top: 12px;
    justify-content: center;
  }

  .content-section {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .pr-8 {
    padding-right: 0px !important;
  }

  .lead-1,
  p {
    font-size: 17px !important;
  }

  .suspension-data,
  .eco-right-sec p {
    font-size: 17px;
  }

  .footer {
    padding: 0.75rem 0;
    border-top: 1px solid;
  }

  .submit-btn {
    font-size: 17px;
  }

  .wn__icon h4 {
    font-size: 22px;
  }

  .header .header-hero .device-hero {
    max-width: 45rem;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }

  .header .header-hero {

    height: 42.625rem;
    align-items: flex-start !important;
  }

  .logo-light {
    height: 50px;
    max-height: 50px;
  }

  .banner-sec {
    align-items: flex-start !important;
  }

  .header {
    margin-top: 92px;
  }

  .eco-right-sec h3 {

    font-size: 26px;
  }

  .eco-right-sec .img-wrap {
    width: 100px;
    height: 100px;

  }

}

@media only screen and (min-width:768px) and (max-width:991px) {

  .variation-slider .owl-nav button.owl-prev,
  .variation-slider .owl-nav button.owl-next {
    left: 0px;
  }

  .variation-slider .owl-nav button.owl-next {
    left: auto;
    right: 0px;
  }

  .single-art .title-bg {
    font-size: 50px;
  }

  .sec-subtitle {
    padding: 3px 12px;
    height: calc(100% + 10px);
    line-height: 58px;
    font-size: 16px;

  }

  .section-header h2 {
    padding: 0px 30px;
    font-size: 21px;
  }

  .sec-title:before {
    width: 80px;
    height: calc(100% + 25px);
    top: -25px;
    left: 0;
  }

  .display-4 {
    font-size: 2rem !important;
  }

  .sec-title {
    margin-bottom: 2rem;
  }

  .mb-sm-2 {
    margin-bottom: 2rem !important;
  }

  .wn__section .wn__title {
    min-height: auto;
    margin-bottom: 0.2rem;
    font-size: 18px;
  }

  .single-art .title-bg h3 {
    font-size: 21px;
    bottom: -4px;
  }

  .eco-sec {
    padding-top: 50px;
  }

  .eco-left-sec {
    padding: 10px;
  }

  .eco-right-sec {
    padding-top: 0;
  }

  .eco-right-sec h2 {
    margin: 20px 0px 20px;
    font-size: 24px;
    line-height: 38px;
  }

  .speed-text {
    line-height: 3rem;
    font-size: 2rem;
  }

  .speed-data {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 3rem;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.34);
  }

  .footer-interior__column {
    margin-bottom: 0;
  }

  .footer-interior__socials {
    margin-top: 12px;
    justify-content: center;
  }

  .content-section {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .pr-8 {
    padding-right: 0px !important;
  }

  .lead-1,
  p {
    font-size: 17px !important;
  }

  .suspension-data,
  .eco-right-sec p {
    font-size: 17px;
  }

  .footer {
    padding: 0.75rem 0;
    border-top: 1px solid;
  }

  .submit-btn {
    font-size: 17px;
  }

  .wn__icon h4 {
    font-size: 22px;
  }

  .header .header-hero .device-hero {
    max-width: 45rem;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }

  .header .header-hero {

    height: 42.625rem;
    align-items: flex-start !important;
  }

  .logo-light {
    height: 50px;
    max-height: 50px;
  }

  

  .header {
    margin-top: 92px;
  }

  .eco-right-sec h3 {

    font-size: 16px;
  }

  .eco-right-sec .img-wrap {
    width: 80px;
    height: 80px;

  }

  .wheel-wrap h4 {
    font-size: 1.1rem;
  }

}

@media only screen and (min-width:995px) and (max-width:1030px) {

  .eco-right-sec h2 {
    margin: 15px 0px 20px;
    font-size: 33px;
    line-height: 44px;

  }

  .eco-right-sec h3 {

    font-size: 22px;

  }

  .eco-right-sec .img-wrap {

    width: 100px;
    height: 100px;
  }

  .eco-sec,
  .eco-right-sec {
    padding-top: 100px;
  }
  .display-lg-2 {
    font-size: 3.3rem !important;

}
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}
  
  .header .header-hero .device-hero
  {
    margin-left: 7rem !important;
  }

}

@media only screen and (min-width:1900px) and (max-width:1930px) {
  .lead-1 {
    font-size: 1.3rem !important;
  }

  .wn__section .wn__title,
  .lead-md-1,
  .suspension-data,
  .lead-md-2,
  .dimention_sec .wn__title {
    font-size: 1.3rem !important;
  }

  .single-art .title-bg h3 {
    font-size: 2rem;
  }

  .btn,
  .navbar-nav > .nav-link,
  .navbar-nav > .nav-item > .nav-link,
  .form-control {
    font-size: 1rem;
  }
  
  .eco-right-sec h2 {
  
    font-size: 50px;
  }
  
  .eco-right-sec h2 {
    margin: 50px 0px 40px;
  }

}

.dropdown-toggle::after {
    display: none;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.quick-links {
    text-align:left;
}
.quick-links ul li {
    font-size:18px;
}
.quick-links ul li a {
    color:#908f95;
}
.quick-links ul li a:hover {
    color:#fff;
}