.widget-contact-info {
  margin-bottom: 15px;
  display: block;
  position: relative;
  padding-left: 40px;
}

.widget-contact-info i {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 22px;
}

.footer-social ul li {
  margin: 0 5px 0 0;
  padding: 0px 0px;
  list-style: none;
  display: inline-block;
  font-size: 20px;
  line-height: 1.6;
}

.footer-social ul li a {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 50px;
  margin-bottom: 5px;
}

.footer-social ul li:hover a,
.horizontal-menu li a:hover {
  background: #23c050;
  color: #fff;
}

.text-center {
  text-align: center;
}

.home-dark {
  color: #8e8e8e;
}

.home-dark span a {
  color: #b3b3b3;
}

.home-dark span a i {
  color: #ffffff;
}

.copyright {
  padding: 18px 0px;
  border-top: 1px solid #5b5b5b;
  font-size: 16px;
  margin-top: 18px;
}

.discount-area {

  padding: 40px 0px;
}

.discount-area .discount-left .content {
  /*
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
*/
  width: 90%;
  text-align: left;
}

.discount-area .discount-left .content a {
  font-size: 18px;
}

.discount-area .discount-left .content a span {
  font-size: 22px;
}

.discount-area .discount-left .content .top-text {
  font-size: 50px;
  color: #fff;
  font-family: var(--body-font);
  letter-spacing: 1.38px;
  font-weight: 700;
}

.discount-area .discount-left .content h1 {
  font-size: 50px;
  color: #fff;
  font-family: var(--body-font);
  letter-spacing: 0;
  position: relative;
  display: -ms-grid;
  display: grid;
  left: 5%;
  margin-top: 30px;
}

.discount-area .discount-left .content h1 .save {
  position: absolute;
  margin-top: 90px;
}

.discount-area .discount-left .content h1 .percent {
  font-size: 111px;
  font-weight: 900;
  margin-left: 60px;
}

.discount-area .discount-right {
  position: relative;
  padding: 20px 0px;
}

.discount-area .discount-right img {
  padding: 10px;
  z-index: 9999;
  position: relative;
  max-width: 100%;
}

.discount-area .discount-right .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: .5;
}

.discount-area .discount-right .circle .circle1 {
  position: absolute;
  width: 580px;
  height: 580px;
  border: 1px dashed #EFEFEF;
  border-radius: 50%;
  left: 7%;
  top: 2%;
}





@media only screen and (max-width: 1400px) {
  .discount-area .discount-right .circle .circle1 {
    width: 555px;
    height: 555px;
    top: -2%;
  }
}

.discount-area .discount-right .circle .circle2 {
  position: absolute;
  width: 440px;
  height: 440px;
  border: 1px dashed #EFEFEF;
  border-radius: 50%;
  left: 17%;
  top: 14%;
}

.discount-area .discount-right .circle .circle3 {
  position: absolute;
  width: 280px;
  height: 280px;
  border: 1px dashed #EFEFEF;
  border-radius: 50%;
  left: 29%;
  top: 27%;
}

.discount-area .discount-right .line {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.discount-area .discount-right .line .line1 {
  position: absolute;
  left: 0%;
  top: 48%;
}

.discount-area .discount-right .line .line2 {
  position: absolute;
  left: 22%;
  top: 0%;
}

.discount-area .discount-right .hotspot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.discount-area .discount-right .hotspot .hotspot1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  color: var(--heading-color);
  left: 27%;
  top: 5%;
  font-size: 40px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  z-index: 99999;
}

.discount-area .discount-right .hotspot .lg-hotspot-label {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  width: 30%;
}

.discount-area .discount-right .hotspot .hotspot-area2 .lg-hotspot-label {
  top: 79%;
  left: -22%;
  position: absolute;
}

.discount-area .discount-right .hotspot .hotspot2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  color: var(--heading-color);
  left: 5%;
  top: 86%;
  font-size: 40px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  z-index: 999999;
}

.discount-area .discount-right .hotspot .hotspot3 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  left: 6%;
  top: 40%;
}

.discount-area .discount-right .hotspot .hotspot4 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  top: 0%;
  right: 30%;
}

.discount-area .discount-right .hotspot .hotspot5 {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  bottom: 12%;
  right: 20%;
}

.discount-area .discount-right .hotspot .hotspot6 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  bottom: 13%;
  right: 45%;
}

.discount-area .discount-right .price {
  position: absolute;
  background: #fff;
  padding: 10px 20px;
  top: 0;
  left: 40%;
  -webkit-box-shadow: 0px 0px 15px #ccc;
  box-shadow: 0px 0px 15px #ccc;
  z-index: 9;
}

.discount-area .discount-right .price span {
  color: var(--heading-color);
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  font-family: var(--body-font);
}

.about-sec {
  margin-top: 200px;
}


.about-img-wrap {
  background: url(../img/about-bg.jpg) no-repeat;
  background-size: 100% 100%;

}

.about-left h1 {
  position: absolute;
  font-size: 180px;
  right: -100px;
  z-index: 1;
  top: 60px;
  color: #23c050;
}

.about-left h2 {
  position: absolute;
  font-size: 180px;
  top: -81px;
  right: -170px;
}

.about-text {
  margin-top: 100px;
}

.about-text h4 {
  margin-bottom: 20px;
}

.about-img-wrap img {
  max-width: 100%;
}

.loading-left p,
.loading-left h2 {
  margin-bottom: 30px;
}

.dimention-sec {
  display: flex;
}

.dimention-icon {
  margin-right: 20px;
}

.dimention-icon h2 {
  width: 40px;
  height: 40px;
  background: #23c050;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-weight: 400;
  box-shadow: 6px 6px 0px rgba(255, 255, 255, 0.2196078431372549);
}

.dimention-data {}

.flip-icon-box {
  margin-top: 28px;
  text-align: right;
}

.right-wrap .flip-icon-box {
  text-align: left;
}

.flip-box-title {
  margin-bottom: 10px;
}

.services-image-part {
  position: relative;
  background: url(../img/services-scanner-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 30px;
}

.services-image-part img {
  max-width: 100%;
}

.services-image-part .banner-img-bg {
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-part h5 a {
  color: #23c050;
}

.section-title h4 {
  position: relative;
  display: inline-block;
  color: #23c050;
}

.section-title h4:before {
  position: absolute;
  content: '';
  width: 40px;
  height: 4px;
  background: #23c050;
  top: 9px;
  left: -62px;
}

.discount-area .discount-right .circle .circle1 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
}


.discount-area .discount-right .circle .circle2 {
  position: absolute;
  width: 80%;
  height: 80%;
  border: 1px dashed #EFEFEF;
  border-radius: 50%;
  left: 10%;
  top: 10%;
}

.discount-area .discount-right .circle .circle3 {
  position: absolute;
  width: 60%;
  height: 60%;
  border: 1px dashed #EFEFEF;
  border-radius: 50%;
  left: 20%;
  top: 20%;
}

.footer-logo {
  margin-bottom: 20px;
}


@media screen and (min-width : 240px) and (max-width: 767px) {
  .about-left h1 {
    position: relative;
    font-size: 80px;
    right: 0;
    top: 0;

  }

  .about-left h2 {
    position: relative;
    font-size: 80px;
    top: 0;
    right: 0;
  }

  .about-text {
    margin-top: 30px;
  }

  .services-image-part {

    margin: 16px 0px;
  }

  footer {
    padding-top: 0px;
  }

  .about-sec {
    margin-top: 50px;
  }

  .s-dark-category p,
  .s-dark-advantages p,
  .s-top-sale p {
    text-align: left;
  }

  .widget {
    margin-top: 32px !important;
  }

  .flip-icon-box .text-part {
    text-align: left !important;
  }

  .btn {
    font-size: 15px;
  }

  .dark-slider .dark-slide .bg-text-left {
    top: 109px;
  }

  .dark-slider .dark-slide .bg-text-right,
  .dark-slider .dark-slide .bg-text-left {
    font-size: 62px;
  }

  .regular-logo {
    width: 150px;
  }

  .footer-social ul li a {

    width: 40px;
    height: 40px;

  }


}



@media screen and (min-width: 767px) and (max-width:994px) {
  .about-left h2 {
    position: absolute;
    font-size: 100px;
    top: -49px;
    right: -170px;
  }

  .about-left h1 {
    font-size: 100px;
    right: -128px;
    top: 40px;
  }

  .about-text {
    text-align: center;
  }

  .text-part {
    text-align: left;
  }

  .services-image-part {

    margin: 20px 0px;
  }

  footer {
    padding-top: 0px;
  }

  .header-dark .nav-list > li > a {
    font-size: 13px;
  }

  .widget-title {
    margin-top: 30px;
  }

  .regular-logo {
    width: 152px;
  }

}


@media screen and (min-width: 995px) and (max-width:1030px) {
  .about-left h1 {
    font-size: 80px;
    right: -100px;
    top: 36px;

  }

  .about-left h2 {
    font-size: 80px;
    top: -49px;
    right: -170px;
  }

  .about-text {
    margin-top: 0;

  }

  .about-sec {
    margin-top: 150px;
  }

  .header-dark .nav-list > li > a {
    font-size: 16px;
  }
}



@media screen and (min-width : 1270px) and (max-width: 1620px) {
  .about-text {
    margin-top: 0px;
  }
}


.quick-links {
    text-align:left;
}
.quick-links ul {
    padding-left: 30px;
    margin-bottom: 20px;
    list-style: disc;
}
.quick-links ul li {
    font-size:18px;
    margin-bottom:5px;
}
.quick-links ul li a {
    color:#908f95;
}
.quick-links ul li a:hover {
    color:#fff;
}