body {


    font-family: 'Poppins', sans-serif;
}

.product-wrap {
    margin-bottom: 20px;
    text-align: center;
}

.product-wrap img {
    width: 100%;
}

.about-section .content-column .content-box .title h2 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0px;
}

.heading-title {
    margin-bottom: 10px;
    text-align: center;
}

.heading-title .title {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.heading-title .divider {
    border: 2px solid #75dab4;
    position: relative;
    display: inline-block;
    width: 30px;
    margin-top: 15px;
}

.heading-title .divider:after {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    width: 50px;
    height: 1px;
    background: #75dab4;
    transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.heading-title .divider:before {
    position: absolute;
    content: "";
    bottom: -8px;
    right: 0;
    width: 50px;
    height: 1px;
    background: #75dab4;
    transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.heading-title p {
    padding: 0 100px;
    display: block;
    margin-bottom: 50px;
    margin-top: 20px;
}

.heading-title .divider.white {
    border-color: #fff;
}

.heading-title .divider.white:after {
    background: #fff;
}

.heading-title .divider.white:before {
    background: #fff;
}

section:hover .heading-title .divider:after {
    width: 70px;
}

section:hover .heading-title .divider:before {
    width: 70px;
}

.services-section {
    margin-bottom: 20px;
}

.footer {
    background: #212121;
    color: #ccc;
    padding: 80px 0 20px;
}

.footer h5 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 30px;
}

.copyright {
    background: #1e1e1e;
    padding: 30px 0 15px;
    color: var(--tertiary);
}

.copyright a {
    color: var(--tertiary);
}

.copyright a:hover {
    color: var(--primary);
}

.footer-social {
    text-align: right;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contact ul li {
    margin-bottom: 24px;
}

.footer-contact ul li i {
    margin-right: 5px;
    background-image: linear-gradient(55deg, #75b2f0, #75f094);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.7rem;
}

.footer-contact ul li a {
    color:#ccc;
}
.footer-contact ul li a:hover {
   color: #75e7a2;
}

.footer-menu ul {
    list-style: square;
    margin-left: 0;
    padding-left: 1rem;
}

.footer-menu ul li {
    margin-bottom: 10px;
    color: #75c0db;
}

.footer-menu ul li a {
    color: #ccc;
}

.footer-menu ul li a:hover {
    color: #75e7a2;
    text-decoration: none;
}

.logo-sec {
    width: 175px;
}

.product-wrap h3 {
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar-toggler .icon {
    color: #75dab4;
}






@media screen and (min-width : 240px) and (max-width: 766px) {
    .banner-section {
        margin-top: 100px;
    }

    .banner-carousel .content-box .text {
        margin-bottom: 20px;
        font-size: 29px;
    }

    .banner-carousel h2 {
        font-size: 39px;
        line-height: 1.2em;
    }

    .banner-section .slide-item {
        padding: 50px 0 50px;
        height: 350px;
    }

    .owl-nav {
        display: none;
    }

    .banner-section .bottom-box {
        display: none;
    }

    .product-wrap h3 {
        font-size: 21px;
    }

    .about-section {

        padding: 40px 0;
    }

    .about-section .image-column .image-box .alphabet-img img {
        width: 50%;
    }

}

@media only screen and (max-width: 482px) {
    .banner-section {
        margin-top: 100px;
    }

    .banner-carousel .content-box .text {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .banner-carousel h2 {
        font-size: 28px;
        line-height: 1.2em;
    }

    .banner-section .slide-item {
        padding: 50px 0 50px;
        height: 273px;
    }

    .owl-nav {
        display: none;
    }

    .banner-section .bottom-box {
        display: none;
    }

}




@media screen and (min-width : 767px) and (max-width : 995px) {
    .header-style-one .main-menu .navigation > li {
        margin-left: 0;
        margin-right: 16px;
    }

    .bottom-box {
        display: none;
    }

    .banner-carousel .owl-nav {
        display: none;
    }

    .about-section {
        padding: 30px 0;
    }

    .about-section .image-column .image-box .alphabet-img img {
        width: 80%;
    }

    .about-section .content-column .content-box .text {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 16px;
    }

    .about-section .content-column .content-box .title h2 {
        font-size: 26px;
        line-height: 42px;

    }

    .about-section .content-column .content-box .title {

        margin-bottom: 13px;
    }
}

@media screen and (min-width : 996px) and (max-width : 1030px) {
    .header-style-one .main-menu .navigation > li {

        margin-right: 20px;
    }

    .header-style-two .nav-outer,
    .header-style-one .nav-outer {
        width: auto;
    }

    .header-style-one .logo-box {
        width: auto;

    }
}

@media screen and (min-width : 1290px) and (max-width : 1610px) {
    .banner-carousel .owl-nav {
        right: 44%;
        bottom: -60px;
    }
}



@media screen and (min-width : 1900px) {
    .about-section .content-column .content-box .title h2 {
        font-size: 36px;
    }

    .about-section .content-column .content-box .text {
        font-size: 18px;

    }
}
